@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
/* ==========================================================================
Global Styles
========================================================================== */
/* line 7, ../sass/partials/_base.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #0d0d0d;
  overflow-x: hidden;
}

/* line 14, ../sass/partials/_base.scss */
.sep {
  max-width: 80px;
  border: 2px solid #0d0d0d;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* line 21, ../sass/partials/_base.scss */
.light-sep {
  max-width: 80px;
  border: 2px solid #fff;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* ==========================================================================
Typography
========================================================================== */
/* line 23, ../sass/partials/_typography.scss */
h1 {
  font-size: 72px;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.16em;
}

/* line 30, ../sass/partials/_typography.scss */
h2 {
  font-size: 36px;
  color: #000;
  font-weight: 400;
  letter-spacing: 0.05em;
}

/* line 37, ../sass/partials/_typography.scss */
h3 {
  font-size: 26px;
  color: #000;
  font-weight: 400;
}

/* line 43, ../sass/partials/_typography.scss */
h4 {
  font-size: 24px;
  color: #000;
  font-weight: 400;
}

/* line 49, ../sass/partials/_typography.scss */
h5 {
  font-size: 22px;
  color: #000;
  font-weight: 400;
}

/* line 55, ../sass/partials/_typography.scss */
h6 {
  font-size: 18px;
  color: #000;
  font-weight: 400;
  letter-spacing: 0.05em;
}

/* line 62, ../sass/partials/_typography.scss */
p {
  font-size: 16px;
  color: #000;
  font-weight: 400;
}

/* ==========================================================================
Buttons Styles
========================================================================== */
/* line 9, ../sass/partials/_buttons.scss */
.btn-transparent {
  background: transparent;
  border: 3px solid #fff;
  padding: 15px 30px;
  font-size: 14px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #fff;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/* line 22, ../sass/partials/_buttons.scss */
.btn-transparent:hover,
.btn-transparent:focus,
.btn-transparent:active {
  background: #fff;
  color: #0d0d0d;
  text-decoration: none;
}

/* line 30, ../sass/partials/_buttons.scss */
.btn-light {
  background: #fff;
  border: 3px solid #fff;
  padding: 15px 30px;
  font-size: 14px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #0d0d0d;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/* line 43, ../sass/partials/_buttons.scss */
.btn-light:hover,
.btn-light:focus,
.btn-light:active {
  background: transparent;
  color: #fff;
  text-decoration: none;
}

/* line 51, ../sass/partials/_buttons.scss */
.btn-block {
  background: #24242a;
  padding: 15px 0;
  font-size: 16px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #fff;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 3px solid #24242a;
}

/* line 64, ../sass/partials/_buttons.scss */
.btn-block:hover,
.btn-block:focus,
.btn-block:active {
  background: #fff;
  color: #0d0d0d;
  text-decoration: none;
}

/* ==========================================================================
Layout 
========================================================================== */
/* line 9, ../sass/partials/_layout.scss */
.dark-bg {
  background: #24242a;
}

/* line 13, ../sass/partials/_layout.scss */
.light-bg {
  background: #fff;
}

    /* ==========================================================================
Preloader Style
========================================================================== */
/* line 14, ../sass/main.scss */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background: #24242a;
}
/* line 22, ../sass/main.scss */
.preloader i {
  color: #fff;
  position: absolute;
  font-size: 36px;
  line-height: 36px;
  top: 50%;
  left: 50%;
  height: 36px;
  width: 36px;
  margin-top: -15px;
  margin-left: -15px;
  display: inline-block;
}

    /* ==========================================================================
Navigation Style
========================================================================== */
/* line 40, ../sass/main.scss */
.navbar-default {
  background: rgba(13, 13, 13, 0.6);
  margin-bottom: 0;
  border: none;
}
/* line 44, ../sass/main.scss */
.navbar-default .navbar-header {
  width: 26%;
  padding-right: 15px;
}
/* line 48, ../sass/main.scss */
.navbar-default .nav-wrap {
  width: 52%;
}
/* line 51, ../sass/main.scss */
.navbar-default .nav > li > a {
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 35px 15px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 59, ../sass/main.scss */
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus,
.navbar-default .nav > li > a:active {
  color: #a3a3a3;
}
/* line 64, ../sass/main.scss */
.navbar-default .social-media {
  float: right;
  padding: 0 15px;
}
/* line 65, ../sass/main.scss */
.navbar-default .social-media i {
  font-size: 22px;
}

/* line 73, ../sass/main.scss */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background: transparent;
  color: #a3a3a3;
}

/* line 80, ../sass/main.scss */
.top-nav-collapse {
  background: #24242a;
}
/* line 82, ../sass/main.scss */
.top-nav-collapse .navbar-brand {
  height: auto;
}
/* line 84, ../sass/main.scss */
.top-nav-collapse .navbar-brand img {
  width: 52px;
  height: 52px;
}
/* line 89, ../sass/main.scss */
.top-nav-collapse .nav > li > a {
  padding: 30px 15px;
}

    /* ==========================================================================
Sliders Style
========================================================================== */
/* line 97, ../sass/main.scss */
#owl-hero {
  overflow: hidden;
}
/* line 99, ../sass/main.scss */
#owl-hero .item {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 103, ../sass/main.scss */
#owl-hero .item .caption, #owl-hero .item .caption-dark {
  position: absolute;
  top: 60%;
  margin-top: -104px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 15;
}
/* line 111, ../sass/main.scss */
#owl-hero .item .caption h1, #owl-hero .item .caption-dark h1 {
  margin-top: 40px;
  margin-bottom: 50px;
  text-transform: uppercase;
}
/* line 115, ../sass/main.scss */
#owl-hero .item .caption h1 span, #owl-hero .item .caption-dark h1 span {
  font-weight: 700;
}
/* line 119, ../sass/main.scss */
#owl-hero .item .caption h6, #owl-hero .item .caption-dark h6 {
  color: #fff;
  margin: 0;
}
/* line 126, ../sass/main.scss */
#owl-hero .item .caption-dark h1 {
  color: #fff;
}
/* line 128, ../sass/main.scss */
#owl-hero .item .caption-dark h1 span {
  color: #fff;
}
/* line 134, ../sass/main.scss */
#owl-hero .bkg-right {
  background-position: right;
}
/* line 137, ../sass/main.scss */
#owl-hero .owl-pagination {
  position: absolute;
  display: block;
  text-align: center;
  width: 100%;
  bottom: 5%;
}
/* line 143, ../sass/main.scss */
#owl-hero .owl-pagination .owl-page.active span {
  background: #fff;
}
/* line 146, ../sass/main.scss */
#owl-hero .owl-pagination .owl-page span {
  border: 2px solid #fff;
  border-radius: 50%;
  background: transparent;
  opacity: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 155, ../sass/main.scss */
#owl-hero .owl-buttons div {
  background: #fff;
  font-size: 24px;
  color: #a3a3a3;
  opacity: 1;
}
/* line 161, ../sass/main.scss */
#owl-hero .owl-buttons .owl-prev {
  left: -60px;
}
/* line 164, ../sass/main.scss */
#owl-hero .owl-buttons .owl-next {
  right: -60px;
}
/* line 167, ../sass/main.scss */
#owl-hero .owl-buttons .owl-prev,
#owl-hero .owl-buttons .owl-next {
  position: absolute;
  background: #fff;
  top: 50%;
  height: 51px;
  width: 51px;
  line-height: 45px;
  border-radius: 0;
  border: 1px solid #fff;
  z-index: 20;
  text-align: center;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 184, ../sass/main.scss */
#owl-hero:hover .owl-prev {
  left: -5px;
}

/* line 188, ../sass/main.scss */
#owl-hero:hover .owl-next {
  right: -5px;
}

    /* ==========================================================================
Welcome Style
========================================================================== */
/* line 195, ../sass/main.scss */
#welcome {
  padding: 60px 0;
  text-align: center;
}
/* line 198, ../sass/main.scss */
#welcome h2 {
  text-transform: uppercase;
}
/* line 200, ../sass/main.scss */
#welcome h2 span {
  font-weight: 700;
}
/* line 204, ../sass/main.scss */
#welcome img {
  margin-top: 40px;
  margin-bottom: 40px;
}

    /* ==========================================================================
Services Style
========================================================================== */
/* line 213, ../sass/main.scss */
#services {
  background: #24242a;
  padding: 60px 0;
  text-align: center;
}
/* line 217, ../sass/main.scss */
#services h2 {
  text-transform: uppercase;
  color: #fff;
}
/* line 221, ../sass/main.scss */
#services p {
  color: #fff;
}
/* line 224, ../sass/main.scss */
#services .services-box {
  margin-top: 40px;
}
/* line 226, ../sass/main.scss */
#services .services-box .col-md-4 {
  margin-bottom: 20px;
}
/* line 228, ../sass/main.scss */
#services .services-box .col-md-4 .media-left,
#services .services-box .col-md-4 .media-right,
#services .services-box .col-md-4 .media-body {
  padding-right: 30px;
  vertical-align: baseline;
}
/* line 233, ../sass/main.scss */
#services .services-box .col-md-4 .media-left p,
#services .services-box .col-md-4 .media-right p,
#services .services-box .col-md-4 .media-body p {
  text-align: left;
}
/* line 236, ../sass/main.scss */
#services .services-box .col-md-4 .media-left h3,
#services .services-box .col-md-4 .media-right h3,
#services .services-box .col-md-4 .media-body h3 {
  text-transform: uppercase;
  color: #fff;
  text-align: left;
}
/* line 241, ../sass/main.scss */
#services .services-box .col-md-4 .media-left span,
#services .services-box .col-md-4 .media-right span,
#services .services-box .col-md-4 .media-body span {
  font-size: 36px;
  color: #fff;
  width: 36px;
  margin-left: 16px;
}

    /* ==========================================================================
Portfolio Style
========================================================================== */
/* line 255, ../sass/main.scss */
#portfolio {
  padding: 60px 0;
  text-align: center;
}
/* line 258, ../sass/main.scss */
#portfolio h2 {
  text-transform: uppercase;
}
/* line 261, ../sass/main.scss */
#portfolio p {
  margin-bottom: 40px;
}
/* line 264, ../sass/main.scss */
#portfolio .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
/* line 267, ../sass/main.scss */
#portfolio .container-fluid .col-lg-4 {
  padding-left: 0;
  padding-right: 0;
}
/* line 272, ../sass/main.scss */
#portfolio .portfolio-box {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 650px;
}
/* line 277, ../sass/main.scss */
#portfolio .portfolio-box .portfolio-label {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background: rgba(13, 13, 13, 0.6);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 288, ../sass/main.scss */
#portfolio .portfolio-box .portfolio-label div {
  height: 32px;
}
/* line 291, ../sass/main.scss */
#portfolio .portfolio-box .portfolio-label h5 {
  color: #fff;
}
/* line 294, ../sass/main.scss */
#portfolio .portfolio-box .portfolio-label p {
  color: #fff;
  font-size: 14px;
}
/* line 299, ../sass/main.scss */
#portfolio .portfolio-box .portfolio-box-caption {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  opacity: 0;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
/* line 309, ../sass/main.scss */
#portfolio .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
}
/* line 315, ../sass/main.scss */
#portfolio .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
#portfolio .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
}
/* line 319, ../sass/main.scss */
#portfolio .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
}
/* line 324, ../sass/main.scss */
#portfolio .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}
/* line 331, ../sass/main.scss */
#portfolio .portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
/* line 334, ../sass/main.scss */
#portfolio .portfolio-box:hover .portfolio-label {
  z-index: 9999;
  background: rgba(13, 13, 13, 0);
}
/* line 337, ../sass/main.scss */
#portfolio .portfolio-box:hover .portfolio-label h5 {
  opacity: 0;
}
/* line 340, ../sass/main.scss */
#portfolio .portfolio-box:hover .portfolio-label p {
  color: #0d0d0d;
}

    /* ==========================================================================
Work Process Style
========================================================================== */
/* line 350, ../sass/main.scss */
#work-process {
  padding: 60px 0;
  text-align: center;
}
/* line 353, ../sass/main.scss */
#work-process .col-lg-6 {
  margin-top: 20px;
}
/* line 356, ../sass/main.scss */
#work-process img {
  margin: 30px auto;
  width: 60%;
}
/* line 361, ../sass/main.scss */
#work-process h2 {
  text-transform: uppercase;
}
/* line 364, ../sass/main.scss */
#work-process h4 {
  text-transform: uppercase;
  color: #0d0d0d;
}
/* line 368, ../sass/main.scss */
#work-process span {
  font-size: 48px;
  color: #0d0d0d;
  margin-bottom: 15px;
}

    /* ==========================================================================
Fun Facts Style
========================================================================== */
/* line 378, ../sass/main.scss */
#fun-facts {
  background: #24242a;
  padding: 60px 0;
  text-align: center;
}
/* line 382, ../sass/main.scss */
#fun-facts .col-lg-6 {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 386, ../sass/main.scss */
#fun-facts img {
  margin: 20px auto;
  padding-top: 20px;
  width: 60%;
}
/* line 391, ../sass/main.scss */
#fun-facts .ted {
  padding-top: 40px;
  width: 70%;
}
/* line 395, ../sass/main.scss */
#fun-facts h2 {
  text-transform: uppercase;
  color: #fff;
}
/* line 399, ../sass/main.scss */
#fun-facts p {
  color: #fff;
}
/* line 402, ../sass/main.scss */
#fun-facts h4 {
  text-transform: uppercase;
  color: #fff;
}
/* line 406, ../sass/main.scss */
#fun-facts .number {
  color: #fff;
  font-weight: 700;
  padding: 10px 0;
  margin: 0;
}
/* line 412, ../sass/main.scss */
#fun-facts span {
  font-size: 48px;
  color: #fff;
  margin-bottom: 15px;
}

    /* ==========================================================================
Our Team Style
========================================================================== */
/* line 422, ../sass/main.scss */
#team {
  padding: 60px 0;
  text-align: center;
}
/* line 425, ../sass/main.scss */
#team h2 {
  text-transform: uppercase;
}
/* line 428, ../sass/main.scss */
#team .team {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 431, ../sass/main.scss */
#team .team p {
  color: #a3a3a3;
}
/* line 434, ../sass/main.scss */
#team .team a {
  color: #0d0d0d;
  font-size: 22px;
  padding-right: 10px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 440, ../sass/main.scss */
#team .team a:hover,
#team .team a:focus,
#team .team a:active {
  color: #a3a3a3;
}
/* line 445, ../sass/main.scss */
#team .team img {
  width: 80%;
}
/* line 449, ../sass/main.scss */
#team .paragraph {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 452, ../sass/main.scss */
#team .paragraph p {
  margin-top: 16px;
  color: #0d0d0d;
  text-align: justify;
  text-justify: inter-word;
}
/* line 458, ../sass/main.scss */
#team .paragraph h4 {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
}

    /* ==========================================================================
Testimonials Style
========================================================================== */
/* line 471, ../sass/main.scss */
#testimonials {
  background-image: url("../img/testimonials/background1.jpg");
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 60px 0;
  text-align: center;
}
/* line 479, ../sass/main.scss */
#testimonials .dark-container {
  background: rgba(255, 255, 255, 0.65);
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: repeat;
  padding: 20px;
  border-radius: 15px;
}
/* line 486, ../sass/main.scss */
#testimonials h2 {
  text-transform: uppercase;
  color: #0d0d0d;
}
/* line 490, ../sass/main.scss */
#testimonials p {
  color: #0d0d0d;
}
/* line 494, ../sass/main.scss */
#testimonials .item .quote {
  margin: 20px auto;
  width: 80%;
}
/* line 497, ../sass/main.scss */
#testimonials .item .quote .right {
  margin-left: 40px;
  font-size: 32px;
  color: #0d0d0d;
}
/* line 502, ../sass/main.scss */
#testimonials .item .quote .left {
  float: left;
  margin-right: 40px;
  color: #0d0d0d;
}
/* line 508, ../sass/main.scss */
#testimonials .item h5 {
  color: #0d0d0d;
  line-height: 36px;
}
/* line 511, ../sass/main.scss */
#testimonials .item h5 span {
  font-weight: 700;
  text-transform: uppercase;
}
/* line 518, ../sass/main.scss */
#testimonials .owl-pagination .owl-page.active span {
  background-color: #0d0d0d;
}
/* line 521, ../sass/main.scss */
#testimonials .owl-pagination .owl-page span {
  border: 2px solid #0d0d0d;
  border-radius: 50%;
  background: transparent;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

    /* ==========================================================================
Contact Us Style
========================================================================== */
/* line 533, ../sass/main.scss */
#contact {
  padding: 60px 0;
  text-align: center;
}
/* line 536, ../sass/main.scss */
#contact h2 {
  text-transform: uppercase;
}
/* line 539, ../sass/main.scss */
#contact form {
  margin: 40px 0;
}
/* line 542, ../sass/main.scss */
#contact .form-group {
  margin-bottom: 35px;
}
/* line 545, ../sass/main.scss */
#contact .form-control {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 2px solid #24242a;
  color: #0d0d0d;
  min-height: 45px;
}
/* line 551, ../sass/main.scss */
#contact textarea {
  height: 140px;
  resize: none;
}

    /* ==========================================================================
Google Map Style
========================================================================== */
/* line 560, ../sass/main.scss */
#map {
  width: 100%;
  height: 400px;
}

    /* ==========================================================================
Footer Map Style
========================================================================== */
/* line 568, ../sass/main.scss */
footer {
  background: #24242a;
  padding: 60px 0;
  text-align: center;
}
/* line 572, ../sass/main.scss */
footer h1 {
  text-transform: uppercase;
  font-weight: 700;
}
/* line 576, ../sass/main.scss */
footer .social {
  margin: 40px 0;
}
/* line 578, ../sass/main.scss */
footer .social a {
  color: #fff;
  margin-left: 20px;
  margin-right: 20px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 584, ../sass/main.scss */
footer .social a:hover,
footer .social a:focus,
footer .social a:active {
  color: #a3a3a3;
}
/* line 590, ../sass/main.scss */
footer h6 {
  text-transform: uppercase;
  color: #fff;
}

    /* ==========================================================================
Media Queries Style
========================================================================== */
@media (max-width: 992px) {
  /*-- Navigation --*/
  /* line 601, ../sass/main.scss */
  .navbar-default {
    background: #24242a;
  }
  /* line 603, ../sass/main.scss */
  .navbar-default .navbar-header {
    width: 100%;
    padding-right: 0;
  }
  /* line 606, ../sass/main.scss */
  .navbar-default .navbar-header .navbar-brand {
    height: auto;
  }
  /* line 608, ../sass/main.scss */
  .navbar-default .navbar-header .navbar-brand img {
    width: 52px;
    height: 52px;
  }
  /* line 614, ../sass/main.scss */
  .navbar-default .nav-wrap {
    width: 100%;
  }
  /* line 617, ../sass/main.scss */
  .navbar-default .navbar-toggle {
    padding-top: 25px;
    padding-bottom: 25px;
    border: none;
  }
  /* line 621, ../sass/main.scss */
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  /* line 625, ../sass/main.scss */
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:active {
    background: none;
  }
  /* line 630, ../sass/main.scss */
  .navbar-default .navbar-left,
  .navbar-default .navbar-right {
    float: none !important;
  }
  /* line 634, ../sass/main.scss */
  .navbar-default .navbar-toggle {
    display: block;
  }
  /* line 637, ../sass/main.scss */
  .navbar-default .navbar-collapse {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  /* line 640, ../sass/main.scss */
  .navbar-default .navbar-collapse.collapse {
    display: none !important;
  }
  /* line 643, ../sass/main.scss */
  .navbar-default .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  /* line 647, ../sass/main.scss */
  .navbar-default .navbar-nav > li {
    float: none;
  }
  /* line 650, ../sass/main.scss */
  .navbar-default .collapse.in {
    display: block !important;
  }

  /*-- Sliders --*/
  /* line 656, ../sass/main.scss */
  #owl-hero h1 {
    font-size: 42px;
  }
  /* line 659, ../sass/main.scss */
  #owl-hero h6 {
    font-size: 16px;
  }
  /* line 662, ../sass/main.scss */
  #owl-hero .btn {
    margin-top: 20px;
  }
  /* line 665, ../sass/main.scss */
  #owl-hero .owl-buttons {
    display: none;
  }

  /*-- Services --*/
  /* line 671, ../sass/main.scss */
  #services h3 {
    font-size: 22px;
  }

  /*-- section styles --*/
  /* line 677, ../sass/main.scss */
  section h2 {
    font-size: 32px;
  }

  /* line 682, ../sass/main.scss */
  #testimonials h5 {
    font-size: 18px;
  }
}
